@media only screen and (max-width: 788px) {
  .input {
    display: block !important;
    margin: auto !important;
    width: 85vw !important;
  }

  .input:hover {
    width: 88vw !important;
  }

  .btn {
    margin-left: 0;
    margin-top: 7px;
  }

  .div-show {
    margin: auto;
    width: 90%;
  }
}

@media only screen and (max-width: 506px) {
  .input {
    width: 94vw !important;
    font-size: 20px !important;
  }

  .input:hover {
    width: 96vw !important;
  }
}

@media only screen and (max-width: 376px) {
  .input {
    font-size: 18px !important;
    width: 90vw !important;
  }

  .input:hover {
    width: 92vw !important;
  }

  h1 {
    font-size: 27px !important;
  }

  h1:hover {
    font-size: 30px !important;
  }
}
